#nav-components #nav-overlay,
#nav-components #nav-toggle {
  display: none;
}
.nav-drawer {
  display: block;
  text-align: center;
/*
  > span
    $height = 1rem
    display block
    height .125 * $height
    width $height
    margin-top (3 / 16) * $height
    border-radius (3 / 16) * $height
    background #c4c4c4
    &:nth-child(2)
      width (7 / 8) * $height
      margin-left (1 / 8) * $height*/
}
.nav-drawer li {
  display: inline-block;
  margin: 0 1rem;
}
/*
.crown
  > span
    $size = 1rem
    display inline-block
    width .125 * $size
    margin-top (1 / 4) * $size
    height (3 / 4) * $size
    margin-left (3 / 16) * $size
    border-radius (3 / 16) * $size
    background #dbdbdb
    &:nth-child(1), &:nth-child(3)
      height $size
      margin-top 0*/
.nav-drawer {
  z-index: 102;
  padding: 1rem;
}
.nav-drawer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#nav-toggle,
#page {
  -webkit-transition: -webkit-transform 0.4s ease, opacity 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease, opacity 0.4s ease;
  -o-transition: -o-transform 0.4s ease, opacity 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease, opacity 0.4s ease;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#nav-toggle {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  background: #1b0b0b;
  padding: 0.5rem;
  padding-top: 1.3rem;
  margin-bottom: 1.5rem;
  z-index: 101;
  -webkit-transform: translateY(0rem);
  -moz-transform: translateY(0rem);
  -o-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  transform: translateY(0rem);
  background-color: #fff;
  background-image: url("/images/brand/Macaroni.svg");
  background-position: 50%;
  -webkit-background-size: 2rem 2rem;
  -moz-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  height: 1.5rem;
  background-repeat: no-repeat;
}
#nav-toggle:hover {
  -webkit-transform: translateY(0.45rem);
  -moz-transform: translateY(0.45rem);
  -o-transform: translateY(0.45rem);
  -ms-transform: translateY(0.45rem);
  transform: translateY(0.45rem);
}
#nav-toggle .crown {
  display: none;
}
body.nav-scrolled #nav-toggle {
  -webkit-box-shadow: 0 0.1rem 0.15rem rgba(0,0,0,0.1);
  box-shadow: 0 0.1rem 0.15rem rgba(0,0,0,0.1);
}
#page {
  background: #fff;
  -webkit-transform: scale3d(1, 1, 1) translateY(0);
  -moz-transform: scale3d(1, 1, 1) translateY(0);
  -o-transform: scale3d(1, 1, 1) translateY(0);
  -ms-transform: scale3d(1, 1, 1) translateY(0);
  transform: scale3d(1, 1, 1) translateY(0);
}
#nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  -ms-transition: background 0.4s ease;
  transition: background 0.4s ease;
  background: #fff;
  z-index: 100;
}
body > .nav-drawer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
body > .nav-drawer {
  pointer-events: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
body > #nav-overlay {
  pointer-events: none;
  background: rgba(255,255,255,0);
}
body.nav-scrolling-down > #nav-toggle {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translateY(-2rem);
  -moz-transform: translateY(-2rem);
  -o-transform: translateY(-2rem);
  -ms-transform: translateY(-2rem);
  transform: translateY(-2rem);
  pointer-events: none;
}
body.nav-open > .nav-drawer {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body.nav-open > .nav-drawer a {
  pointer-events: all;
}
body.nav-open > #nav-overlay {
  pointer-events: all;
  background: rgba(255,255,255,0.9);
}
body.nav-open > #nav-toggle {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  transform: translateY(-1rem);
}
body.nav-open > #page {
  -webkit-transform: scale3d(0.98, 0.98, 1) translateY(1vh);
  -moz-transform: scale3d(0.98, 0.98, 1) translateY(1vh);
  -o-transform: scale3d(0.98, 0.98, 1) translateY(1vh);
  -ms-transform: scale3d(0.98, 0.98, 1) translateY(1vh);
  transform: scale3d(0.98, 0.98, 1) translateY(1vh);
}

/*# sourceMappingURL=nav.css.map */
