<footer>
  <a href="/" title="Take me home!"><img src="/images/brand/MacaroniSmallAlt.svg" alt="'L' emblem" width="25" height="25"></a>
  <p align="center"><small>© Cole Lawrence 2018</small></p>
</footer>
</main>
</div>
<script src="/script/link-headers-with-id.js"></script>
<script src="/script/navigation-transition.js"></script>
<!-- Page hiding logic -->
<script>
// set onunload to flag cache busting
document.body.onunload = function(){ window.__cachebust = Math.random() }
setTimeout(body => body.style.opacity = 1, 50, document.body)
</script>
</body>
</html>