<style>#nav-components{visibility:hidden;position:absolute;}</style>
<link rel="stylesheet" href="/style/nav.css" rel="stylesheet/css">
<div id="nav-components">
  <div id="nav-toggle">
    <div class="crown"><span></span><span></span><span></span><span></span><span></span></div>
  </div>
  <div class="nav-drawer">
    <header><h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1></header>
    <nav>
      <ul class="nav">
        <li><a href="/">about</a></li>
        <li><a href="/posts">posts</a></li>
      </ul>
    </nav>
  </div>
  <div id="nav-overlay"></div>
</div>
<script src="/script/nav.js"></script>
<style>#nav-components{visibility:visible;position:relative;}</style>