@import "nib"

#nav-components
  // not moved yet, so hide functional elements
  #nav-overlay, #nav-toggle
    display none

// Nav drawer
.nav-drawer
  display block
  text-align center
  li
    display inline-block
    margin 0 1rem


#nav-toggle
  position fixed
  cursor pointer
  top 0
  left 50%
  margin-left -1.25rem
  background #1b0b0b
  // top 3.8rem
  // left 3vw
  padding .5rem
  padding-top 1.3rem
  z-index 101
  /*
  > span
    $height = 1rem
    display block
    height .125 * $height
    width $height
    margin-top (3 / 16) * $height
    border-radius (3 / 16) * $height
    background #c4c4c4
    &:nth-child(2)
      width (7 / 8) * $height
      margin-left (1 / 8) * $height*/
/*
.crown
  > span
    $size = 1rem
    display inline-block
    width .125 * $size
    margin-top (1 / 4) * $size
    height (3 / 4) * $size
    margin-left (3 / 16) * $size
    border-radius (3 / 16) * $size
    background #dbdbdb
    &:nth-child(1), &:nth-child(3)
      height $size
      margin-top 0*/

.nav-drawer
  z-index 102
  padding 1rem
  ul
    list-style none
    padding 0
    margin 0

#nav-toggle
#page
  transition: transform .4s ease, opacity .4s ease
  opacity: 1

#page
  background: white
  transform: scale3d(1,1,1) translateY(0)

#nav-toggle
  transform translateY(-.8rem)
  background-color white // smoke
  background-image url(/images/brand/Macaroni.svg)
  background-position 50% 1rem
  background-size 2rem 2rem
  box-shadow 0 .1rem .15rem rgba(0,0,0,0.1)
  width 1.5rem
  height 1.5rem
  background-repeat: no-repeat
  &:hover
    transform translateY(-.45rem)
  .crown
    display none

#nav-overlay
  fixed top left bottom right
  transition background .4s ease
  background white
  z-index 100

#page
  absolute top left bottom right
  overflow auto

body > .nav-drawer
  fixed top left right
  transition opacity .4s ease

// not open
body
  > .nav-drawer
    pointer-events none
    opacity: 0
  > #nav-overlay
    pointer-events none
    background rgba(255,255,255,0)

body.nav-scrolling-down
  > #nav-toggle
    opacity 0
    transform translateY(-2rem)
    pointer-events none

// open
body.nav-open
  > .nav-drawer
    opacity: 1
    a
      pointer-events all
  > #nav-overlay
    pointer-events all
    background rgba(255,255,255,0.9)
  > #nav-toggle
    opacity 0
    transform translateY(-1rem)
  > #page
    transform: scale3d(.98,.98,1) translateY(1vh)